<section class="container">
  <div class="margin-logo-top center-logos row">
    <div class="col-2 gray">
      <figure><img class="jello-horizontal" width="80rem" height="80rem" src="/assets/angularlogo.png"
                   alt="Angular"></figure>
    </div>
    <div class="col-2 gray">
      <figure><img class="jello-horizontal" width="80rem" height="80rem" src="/assets/javalogo.png" alt="Java"></figure>
    </div>
    <div class="col-2 gray">
      <figure><img class="jello-horizontal" width="80rem" height="80rem" src="/assets/hibernatelogo.png"
                   alt="Hibernate"></figure>
    </div>
    <div class="col-2 gray">
      <figure><img class="jello-horizontal" width="80rem" height="80rem" src="/assets/springlogo.png" alt="Spring">
      </figure>
    </div>
    <div class="col-2 gray">
      <figure><img class="jello-horizontal" width="80rem" height="80rem" src="/assets/restapilogo.png" alt="Rest Api">
      </figure>
    </div>
  </div>
  <span class="author">Daniel Nowosielecki</span>
</section>

